/* Resets gerais */
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: gray;
}
footer{
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-container ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    list-style-type: none;
    padding-top: 22px;
    padding-bottom: 22px;
    cursor: pointer;
}

.navbar-container ul li{
    background-color: white;
    color: gray;
    border-radius: 15px;
    padding: 24px;

}
.navbar-container ul li:hover, .navbar-container ul li h1:hover{
    background-color: rgb(13, 209, 193);
    color: blue;
    border-radius: 5px;
}
.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:10%;
}
