/* Resets gerais */
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: gray;
}

body {
    background-image: url(../assets/img/gm-dragons-dogma.jpg);
    backdrop-filter: blur(3px);
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

footer{
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-container ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    list-style-type: none;
    
}
.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:10%;
}
